<!DOCTYPE html>
<html lang="en">

  <head>
	<link rel="stylesheet" href="{{ get_url(path="pico.css") }}"/>
	<meta charset="utf-8">
	<title> {{ config.title }} </title>
	<link rel="icon" type="image/svg" href="icons/favicon.svg" />
  </head>

  <body>
	<header>
	  <hr>
	  <nav>
		<ul>
		  <li>
			<strong> <a href="{{ get_url(path='/') }}"> {{ config.title }} </a> </strong>
			<!-- <a href="https://gitlab.com/MarcusE1W/absolute-beginner"> <img src={{ get_url(path="icons/gitlab.svg") }} /> " " </a> -->
		  </li>
		</ul>
		<ul>
		  <li> <a href="{{ get_url(path='@/blog/_index.md') }}"> Blog </a> </li>
		  <li><a href="/categories">Categories</a></li>
		  <li><a href="/tags">Tags</a></li>
		</ul>
	  </nav>
	  <hr>
	  
	  <!-- 	<div> -->
	  <!-- 	  <strong> <a href="{{ get_url(path='/') }}"> {{ config.title }} </a> </strong> -->
	  <!-- 	  <div> -->
	  <!-- 		<a href="https://gitlab.com/MarcusE1W/absolute-beginner"> <img src={{ get_url(path="icons/gitlab.svg") }} />   </a> -->
	  <!-- 	  </div> -->
	  <!-- 	</div> -->
	  <!-- 	<nav> -->
	  <!-- 	<ul> -->
	  <!-- 	  <li> <a href="{{ get_url(path='@/blog/_index.md') }}"> Blog </a> </li> -->
	  <!-- 	  <li><a href="/categories">Categories</a></li> -->
	  <!-- 	  <li><a href="/tags">Tags</a></li> -->
	  <!-- 	</ul> -->
	  <!-- </nav> -->
	  <!-- <hr> -->

	</header>
	
	<main>
		{% block content %} {% endblock %}
	</main>
  </body>

  <footer>
	Copyright
</html>
