{% extends "base.html" %}

{% block content %}

<h1 class="title">
  {{ page.title }}
</h1>

 <!-- <div class="w3-container w3-white w3-margin w3-padding-large"> -->
   <div class="w3-center w3-padding-small">
     <h3>{{ page.title }}</h3>
     <h5>{{ page.description }}, <span class="w3-opacity">{{ page.date }}</span></h5>
   </div>
 <!-- </div> -->

<div>
{% if page.toc %}
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
</div>

<article>
  {{ page.content | safe }}
</article>


{% endblock content %}

