{% extends "base.html" %}

{% block content %}

<h2>
  {{ section.title }}
</h2>

	<!-- If you are using pagination, section.pages will be empty.
		 You need to use the paginator object -->  


{% for page in section.pages %}
<section>
  <a href="{{ page.permalink | safe }}"> {{ page.title }} </a>
  <br>
  <small> ( {{page.date}} ) </small>
  <br>
  {{ page.description }}
</section>
{% endfor %}

{% endblock content %}
