{% extends "base.html" %}

<!-- show all files for one taxonomy -->

{% block title %}{{ config.title }} | {{ term.name }}{% endblock title %}

{% block content %}
<main>
    <h2>{{ taxonomy.name | capitalize }} - {{ term.name }} </h2>
    <ul>
        {% for page in term.pages %}
        <li>
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            {% if page.date %}<span class="secondary small">({{ page.date | date(format="%d %b, %Y") }})</span>{% endif %}
        </li>
        {% endfor %}
    </ul>
    <p><a href="{{ get_taxonomy(kind=taxonomy.name) | get(key='permalink') }}">All {{ taxonomy.name }}</a></p>
</main>
{% endblock content %}
