{% extends "base.html" %}

<!-- List of all taxonomies -->

{% block title %}{{ config.title }} | {{ taxonomy.name | capitalize }}{% endblock title %}

{% block content %}
<main>

  <h2>{{ taxonomy.name | capitalize }}</h2>
  
  <div>
    {% for term in terms %}
    <a href="{{ term.permalink }}">{{ term.name }}</a>
    {% set count = term.pages | length %}
    <small> ({{ count }} page{{ count | pluralize }}) </small>,
    {% endfor %}
  </div>
  
</main>
{% endblock content %}
